@import "../../../styles/colorPalette.scss";

.layout-header{
    background-color: $baner-light-color;
    border-radius: 5px;
    height: 100px;
}

.header-img-logo{
    height: 100px;
    padding-left: 20px;
}

