$canvas-dark-color:         #423b4485;
$canvas-light-color:        #CFD8DC;

$background-dark-color:     #2c2e4eff;
$background-light-color:    #9244a0;

$base-dark-color:           #584c98ff;
$base-dark-hover-color:     #5f46c3ff;
$base-light-color:          #9c6b7aff;
$base-light-hover-color:    rgb(225, 207, 243);

$select-light-color:        rgb(190, 169, 209);

$baner-dark-color:          #1c1221;
$baner-light-color:         #7b4b66;

$text-dark-color:           #212121;
$text-light-color:          #FFFFFF;

$btn-danger-color:                #b42727;
$btn-danger-color-hover:          #df3131; 

$space-cadet: #2c2e4eff;
$independence-2: #3f415eff;
$independence: #50526dff;
$dark-slate-blue: #584c98ff;
$plump-purple: #5f46c3ff;
$royal-purple: #7e599fff;
$rose-dust: #9c6b7aff;
$silver-metallic: #aca3a6ff;
$opal: #bbdbd1ff;
$powder-blue: #bce4d9ff;
