.layout-body-containter{
    min-height: 300px;
    height: 85%;
    padding: 10px 20px;
}

.layout-body{
    background-color: #CFD8DC;
    border-radius: 5px;
    width: 100%;
}

.layout-navBar{
    background-color: #CFD8DC;
    border-radius: 5px;
    width: 200px;
}
